<div class="aside">
    <div class="bl_table">
        <div>
            <div class="aside__person_img" style="background-image: url(../assets/img/{{ starInfo.main_photo }});"></div>
            <div class="aside__person_name">{{ starInfo.name }}<span>{{ starInfo.profession }}</span></div>
            <div class="aside__person_data">
                <ul>
                    <li>
                        <i class="i_icon-1"></i>
                        <p>{{ starInfo.location }}</p>
                    </li>
                    <li>
                        <i class="i_icon-2"></i>
                        <p>{{ starBdayInfo.b_day }},&nbsp;{{ starBdayInfo.age }}</p>
                        <span>{{ starBdayInfo.arrival }}</span>
                    </li>
                </ul>
            </div>
            <div class="aside__person_descr">
                <p>
                    {{ starInfo.person_descr }}
                </p>
            </div>
        </div>
    </div>
    <div class="aside__background" style="background-image: url(../assets/img/{{ starInfo.main_photo }});"></div>
</div>
